<html lang="en"
      th:replace="~{shared/admin_layout::layout('Change Password', ~{::style}, ~{::div#container}, '', ~{::ol.breadcrumb})}">

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/profile}">Profile</a></li>
    <li class="breadcrumb-item active">Change Password</li>
</ol>

<div id="container">

    <div class="pagetitle">
        <h1>Change Password</h1>
    </div>

    <div class="card shadow p-4 mt-4">

        <p th:if="${currentPassNotCorrect != null}" class="alert alert-danger">
            <strong th:text="${currentPassNotCorrect}"></strong>
        </p>

        <p th:if="${passwordNotMatch != null}" class="alert alert-danger">
            <strong th:text="${passwordNotMatch}"></strong>
        </p>

        <form th:action="@{/profile/change-password}" method="post">
            <input type="hidden" name="adminId" th:value="${session.admin.id}"/>
            <div class="mb-3">
                <label for="current-password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current-password" name="currentPassword" required>
            </div>
            <div class="mb-3">
                <label for="new-password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new-password" name="newPassword" required>
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </form>


        <form th:action="@{/profile/send-reset-link}" method="post" class="text-center mt-3">
            <button type="submit" class="btn btn-link text-primary p-0"
                    style="font-size: 1rem; text-decoration: underline;">
                Forgot Password? Send reset link to email
            </button>
        </form>

    </div>
</div>
</html>
